.filter-menu-div {
  padding: 0 .5rem;
  box-shadow: 10px 0 10px rgba(0, 0, 0, 0.445);
  border-bottom: 2px dashed grey;
}

.filter-menu-div-title {
  text-shadow: 1.5px 1.5px 2px rgba(0, 0, 0, 0.15);
  width: 100%;
  padding: 3.5vh 0;
  display: block;
}

#filter-title-row {
  border-bottom: 3px double rgb(175, 175, 175);
}

#filter-title-text {
  bottom: 0;
  font-size: 20px;
  right: 0rem; 
  cursor: auto;
  text-shadow: 1.5px 1.5px 2px rgba(0, 0, 0, 0.15);
}

#dropdown-basic {
  width: 95%;
  height: 25px;
  background-color: rgb(255, 255, 255);
  color: black;
  border: 1px solid rgb(177, 177, 177);
  padding: 0;
  padding-left: .25rem;
  font-size: 12px;
  text-align: left;
}

.filter-div {
  padding: 0;
  border-bottom: 1px solid grey;
  padding: 20px 0;
}


.filter-div a{
  color: black;
  height: 20px;
  padding-top: 0;
  padding: 0 auto;
  text-align: center;
  font-size: 14px;
}

#reset-button {
  color: white;
  width: 20px;
  padding: 0;
  text-align: center;
  border: none;
  background-color: red;
  font-weight: 700;
  line-height: 0px;
  text-align: center;
  padding-top: 0px;
  top: 0;
  height: 20px;
}


.dropdown-toggle::after {
  position: absolute;
  content: "";
  right: .5em;
  top: 1em;
}

#buy-btn {
  background-color: rgb(255, 0, 128); 
  border: none;
  box-shadow: 2px 2px 2px rgba(0,0,0,.5);
}

#buy-btn:hover {
  background-color: rgb(255, 59, 157); 
}