@font-face {
  font-family: futura-LT;
  src: url('./asserts/fonts/FuturaLT.woff');
}

.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header {
  background-color: #282c34;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main-div {
  background-color: rgba(80, 7, 163, 0.979);
  border-left: 1px solid rgba(0, 0, 0, 0.26);
  color: black;
  display: flex;
  flex-direction: row;
  font-family: futura-LT;
}

