@font-face {
  font-family: futura-LT;
  src: url('./asserts/fonts/FuturaLT.woff');
}

body {
  margin: 0;
  font-family: futura-LT, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: futura-LT, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
